{% extends "base.html" %}

{% block content %}

{% if info is defined and result is defined %}

   
    <div class="tradingview-widget-container">
        <div id="tradingview_36b43"></div>
    
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
            new TradingView.MediumWidget(
                {
                    "symbols": [
                        [
                            "{{ result }}|1D"
                        ]
                    ],
                    "chartOnly": false,
                    "width": "50%",
                    "height": "100%",
                    "locale": "en",
                    "colorTheme": "dark",
                    "gridLineColor": "#2a2e39",
                    "trendLineColor": "#1976d2",
                    "fontColor": "#787b86",
                    "underLineColor": "rgba(55, 166, 239, 0.15)",
                    "isTransparent": false,
                    "autosize": true,
                    "container_id": "tradingview_36b43"
                }
            );
        </script>
    </div>
    <!--TABLEAU COMPONENT BEGINS HERE-->


    <table style="width: 70%;">

        <th>
            Company Overview
        </th>

        <tr>
        
            <td>Industry:</td>
            <td>
                {{info[12][1]}}
            </td>
        
        </tr>

        <tr>
            <td>About:</td>
            <td>
                {{info[3][1]}}           
            </td>
        
        </tr>

        <tr>

            <td>Phone Number:</td>
            <td>
                {{info[5][1]}}
            </td>

        </tr>

        <tr>
        
            <td>Website:</td>
            <td>
                {{info[9][1]}}
            </td>
        
        </tr>

    
    </table>

    <table>

        <th>
            Stock Information
        </th>

        <tr>
            <td>Previous Close:</td>
            <td>
                {{info[13][1]}}
            </td>


        </tr>

        <tr>
            <td></td>
            <td>
                {{info[14][1]}}
            </td>
        
        
        </tr>

    </table>


{% else %}
    <h1>Sorry! Could not find the stock that you were looking for.</h1>

{% endif %}
           
{% endblock %}

<!--{% for i,j in info %}
<tr>

    <td>
        {{info[2:5]}}
    </td>

    {% endfor %}-->